<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  


<h1>Edit Product</h1>
    <form action="/products/<%=products._id%>?_method=PUT" method="post">
      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=products.name%>" /><br />
      Description: <input type="text" name="description" value="<%=products.description%>" /><br />
      Price: <input type="text" name="price" value="<%=products.price%>" /><br />
      Quantity: <input type="text" name="qty" value="<%=products.qty%>" /><br />
     
      <input type="submit" value="Submit Changes" />
    </form>

  </body>
  </html>